#container{
    background-color: brown;
    height:40vw;
    width:40vw;
    background: url(clock.png) no-repeat;
    background-size: 100%;
    margin-top:3vw;
   margin-left: 20vw;
   margin-right: 2vw;
    position: relative;

}
body{
    background-color:black;
    color: aliceblue;
}
.flex{
    display: flex;
    
}
#t{
    margin-top: 5vw;
    margin-left: 7vw;
    font-size: 3vw;
    color:pink
}
#element{
    margin-left: 7vw;
    margin-top: 3vw;
    font-size: 6vw;
}

#hour,#min,#sec{
    position: absolute;
    background: black;
    border-radius: 10px;
   transform-origin: bottom;
}
#hour{
    width: 1.8%;
    height: 23%;
    left: 49.5%;
    top: 27%;
  
  
}
#min{
    width: 1.2%;
    height: 28%;
    left: 49.5%;
    top: 20%;
    
}
#sec{
    width: 1%;
    height: 35%;
    left: 49.5%;
    top: 12%;
  
}